[submodule "lib/kicad-gigalib"]
	path = lib/kicad-gigalib
	url = https://github.com/metacollin/kicad-gigalib.git
[submodule "lib/digikey-kicad-library"]
	path = lib/digikey-kicad-library
	url = https://github.com/Digi-Key/digikey-kicad-library.git
[submodule "lib/X68k-kicad-library"]
	path = lib/X68k-kicad-library
	url = https://github.com/kunichiko/X68k-kicad-library.git
[submodule "lib/kicad"]
	path = lib/kicad
	url = https://github.com/savenlid/kicad.git
[submodule "lib/KiCAD-RP-Pico"]
	path = lib/KiCAD-RP-Pico
	url = https://github.com/ncarandini/KiCad-RP-Pico.git
